
# Required for Firebase Admin SDK (Server-Side)
# Get these from your Firebase project settings -> Service accounts -> Generate new private key
FIREBASE_PROJECT_ID="your-project-id"
FIREBASE_CLIENT_EMAIL="firebase-adminsdk-xxxxx@your-project-id.iam.gserviceaccount.com"
# Take the private_key value from the JSON file, and wrap it in quotes.
# IMPORTANT: Make sure to replace literal newlines with '\n'
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY_HERE\n-----END PRIVATE KEY-----\n"

# Required for Client-Side SDK
# Get these from your Firebase project settings -> General
NEXT_PUBLIC_FIREBASE_PROJECT_ID="your-project-id"
NEXT_PUBLIC_FIREBASE_API_KEY="your-web-api-key"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="your-project-id.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="your-project-id.appspot.com"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="your-sender-id"
NEXT_PUBLIC_FIREBASE_APP_ID="your-web-app-id"

# Required for Firebase Cloud Messaging (Client-Side)
# Get this from your Firebase project settings -> Cloud Messaging -> Web configuration
NEXT_PUBLIC_FIREBASE_VAPID_KEY="your-fcm-vapid-key"
